#enlaces {
    float: left;
    background-color: lightcoral;
    width: 20%;
    padding: 5px;
    margin: 5px;
    line-height:2;
}

#derecha {
    background-color: aquamarine;
    margin: 5px;
    float: right;
    padding: 5px;
    width: 75%;
}

#enlaces div {
    border: 1px solid;
    border-color: aliceblue;
    width: 95%;
    margin: 2px;
}

.foto {
    float: right;
    text-align: center;
}

.foto2 {
    float: left;
    text-align: center;
}

h1 {
    border: 2px solid;
    padding: 8px;
}