#uno{
    width: 50%;
    text-align: left;
    initial-letter:initial ;
    font-style: oblique;
    font-size: 1.6em;
    line-height: 1.6;
}

#dos{
width: 75%;
    text-align: center;
    initial-letter:initial ;
    font-size: 1.2em;
    font-style: inherit;
    line-height: 2;
}

#tres{
    width: 100%;
    initial-letter:initial ;
    font-size: 1em;
    text-align: right;
    line-height: 3;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}