div{
    width: 100%;
}
header{
    background-color: aqua;
    text-align: center;
    font-size: x-large;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav{
    background-color: khaki;
    padding: 1em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
display: inline;
padding: 5px;
margin: 3px;
border: 1px solid;
}

section{
    overflow-y: auto;
    height: 400px;
    background-color: aquamarine;
}

footer{
    background-color: darkgrey;
}